{% extends 'seller_base.html'%}
{%block content%}
 <!-- Begin Page Content -->
    <div class="container-fluid " style="padding-top:100px;">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 ">
             {%for dets in detail%}
<!--              <img src="{{user.profile.image.url}}" class="rounded float-right" height="300px" width="300px">-->

          <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5"  style="max-width: 540px;">
            <div class="card-body">
                <h2>Profile</h2>
                <p><strong>Name: </strong> {{user.first_name}} </p>
                <p><strong>Email: </strong> {{user.email}} </p>
                <p><strong>Address: </strong> {{dets.address}}  </p>
                <p><strong>Bank Name: </strong> {{dets.bank_name}} </p>
                 <p><strong>Account Number: </strong> {{dets.account_number}}  </p>
                <p><strong> IFSC Code: </strong> {{dets.ifsc_code}} </p>
                <a href="{%url 'edit_profile'%}" class="btn btn-sm btn-primary shadow-sm">Update Profile</a>
            </div>

          </div>
            {%endfor%}
            </div>
            <div class="col-4"></div>
        </div>



    </div>
{%endblock%}