<!DOCTYPE html>
<html lang="en">
<head>
  <title>Administrator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


    <nav class="navbar navbar-expand-sm  navbar-dark fixed-top" style="height:100px;background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);">
        <a class="navbar-brand" href="{% url 'adminhome' %}"><h1>SayOne</h1></a>
              <ul class="navbar-nav ml-auto">
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logouthtml' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{user}}</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adminlogin' %}">Login</a>
                    </li>
                  {% endif %}
              </ul>
</nav>
    {% block content %}

    {% endblock %}

</body>
</html>